beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
commonmark==0.9.1
idna==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
patool==2.2.0
prompt-toolkit==3.0.43
Pygments==2.17.2
requests==2.31.0
rich==13.7.1
soupsieve==2.5
urllib3==2.2.1
wcwidth==0.2.13
