altgraph==0.17.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
commonmark==0.9.1
idna==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.1
patool==2.3.0
pefile==2023.2.7
prompt_toolkit==3.0.47
Pygments==2.18.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pywin32-ctypes==0.2.2
requests==2.32.3
rich==13.7.1
soupsieve==2.5
urllib3==2.2.2
wcwidth==0.2.13
