beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
commonmark==0.9.1
idna==3.4
markdown-it-py==3.0.0
mdurl==0.1.2
patool==1.12
prompt-toolkit==3.0.39
Pygments==2.16.1
requests==2.31.0
rich==13.5.2
soupsieve==2.4.1
urllib3==2.0.4
wcwidth==0.2.6
